@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Staatliches&display=swap');

body {
	font-family: 'Arimo', sans-serif;
	font-size:1.1em;
}

h1, h2, h3, label, 
.h1, .h2, .h3, .label {
	font-family: 'Staatliches', Helvetica, Arial, sans-serif;
}

label {
	font-size: .7em;
	text-transform: uppercase;
	margin-bottom:5px;
}